In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Load dataset

In [2]:
df = pd.read_csv(r"C:\Users\Admin\OneDrive\Desktop\REMOTE APPRENTICESHIP AMDARI\PERSONAL PROJECT\Stock Market Capstone\Dataset\stock_prices_with_indicators.csv")
company_df = pd.read_csv(r"C:\Users\Admin\OneDrive\Desktop\REMOTE APPRENTICESHIP AMDARI\PERSONAL PROJECT\Stock Market Capstone\Dataset\company_info.csv")
prices_df = pd.read_csv(r"C:\Users\Admin\OneDrive\Desktop\REMOTE APPRENTICESHIP AMDARI\PERSONAL PROJECT\Stock Market Capstone\Dataset\stock_prices.csv")
indices_df = pd.read_csv(r"C:\Users\Admin\OneDrive\Desktop\REMOTE APPRENTICESHIP AMDARI\PERSONAL PROJECT\Stock Market Capstone\Dataset\market_indices.csv")

### merge sector and ticker to indicators and convert date to datetime

In [3]:
df = df.merge(company_df[['ticker','sector']], on='ticker', how='left')
df['date'] = pd.to_datetime(df['date'])

df.head(3)

,ticker,date,open,high,low,close,volume,adjusted_close,sma_20,sma_50,...,atr_14,volume_sma_20,volume_ratio,momentum_10,momentum_20,price_to_sma_50,volatility_20,future_return_5d,trend_label,sector
0,STK001,2021-01-04,158.09,160.97,158.09,160.11,962644.0,160.11,160.110000,160.110000,...,2.880,962644.0,1.000000,NaN,NaN,0.000000,NaN,0.026357,Uptrend,Technology
1,STK001,2021-01-05,163.16,165.50,160.76,162.36,1312685.0,162.36,161.235000,161.235000,...,4.135,1137664.5,1.153842,NaN,NaN,0.006977,NaN,0.018169,Sideways,Technology
2,STK001,2021-01-06,161.89,162.51,160.94,161.78,1449177.0,161.78,161.416667,161.416667,...,3.280,1241502.0,1.167277,NaN,NaN,0.002251,0.012463,-0.012301,Sideways,Technology